#root {
  margin: 100px auto;
  max-width: 700px;
  padding-bottom: 100px;
}

.sector {
  font-size: 40px;
  width: 500px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.sector-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 5px;
  margin-bottom: -50px;
}

.splash {
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 500px;
  top: 0;
  border-radius: 30px;
}
